/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
	width: 600px;
	margin: auto;
	height: auto;
	background-color: #51473d;
	border: 1px solid #cecab9;
}

#topbar
{
	text-align: right;
	font-family: Verdana;
	font-size: 0.65em;
	height: 215px;
	float: left;
	width: 600px;
	background-color: #51473d;
	color: #eae7d2;
	font-style: italic;
}

#menu
{
    padding: 0px;
    display: inline-block;
    height: 35px;
}

#menu ul
{
	list-style: none;
	font-weight: normal;
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: -30px;
	margin-bottom: 5px;
	margin-left: -30px;
}


#menu ul li
{
    float: left;
}


#menu ul li a
{
	display: block;
	font-family: Verdana;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	color: #eae7d2;
	margin-left: 1px;
	text-transform: capitalize;
	background-color: #797066;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
}

#menu ul li a:hover
{
	color: #eae7d2;
	background-color: #9c9084;
}

#menu .active a
{
    color: #888076;
    background: #eae7d2;
}

#content
{
	background: #eae7d2;
	font-family: Verdana;
	font-size: 0.8em;	
	color: #797066;
	text-align: left;
	line-height: 20px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}